# Ignore virtual environment elements
Pipfile
Pipfile.lock

# Ignore saved data
data/*
*.parquet

# Ignore log files
logs
logs/*

# Ignore duckdb
coinbase.duckdb
*.duckdb
*.db

# Ignore old work
work
work/*

# Ignore DS_store
.DS_store
